<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinhaEscola.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MinhaEscola.My.MySettings.conexaoBD" connectionString="Data Source=DESKTOP-R5VHKNO\SQLEXPRESS;Initial Catalog=DBConectaEscola;Integrated Security=True" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MinhaEscola.My.MySettings>
            <setting name="teste" serializeAs="String">
                <value />
            </setting>
            <setting name="intVerificaCorAtual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p" serializeAs="String">
                <value />
            </setting>
            <setting name="strCorAtualSistema" serializeAs="String">
                <value />
            </setting>
        </MinhaEscola.My.MySettings>
    </userSettings>
</configuration>